jboss/standalone/userlibrary/default/conf/JSwiftDefinitionLanguage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by federico (home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="swiftDefinitionLanguage">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="language" type="xs:string"/>
				<xs:element name="tags">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="tag" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="specials">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="case" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="messageNumber" type="xs:string"/>
										<xs:element ref="tag"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="blocks">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="block" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="number" type="xs:string"/>
										<xs:element name="name" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="labels">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="swiftInput" type="xs:string"/>
							<xs:element name="sender" type="xs:string"/>
							<xs:element name="receiver" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tag">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tagNumber" type="xs:string"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="components">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="component" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="number" type="xs:int"/>
										<xs:element name="name" type="xs:string"/>
										<xs:element name="converters">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="converter" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
